.index{
    width: 500px;
}

.font-24{
    font-size: 24px;
}

.font-16{
    font-size: 16px;
}

.product-img{
    border-radius: 30px;
}

.content-header{
    font-size: 24px;
    letter-spacing: 1.92px;
    padding-left: 2px;
}

.nav-item->.active{
    border-bottom: 1px;
    border-color: #FFDF65;
}
